[2014-04-29 16:07] miketaylr opened #1 "Make firefox extension mobile-compatible"

[2014-04-29 16:09] miketaylr opened #2 "submit extensions to official sites"
Uh, maybe I'll wait a day to find all the bugs.

[2014-04-29 21:36] #1 closed, assigned to nobody

[2014-04-29 22:18] miketaylr opened #3 "Add screenshot support to Chrome addon"
Would require image support for our form first though.

[2014-04-30 19:38] jdalton opened #4 "doc mention this is already in IE11"
In the [spring update](http://blogs.msdn.com/b/ie/archive/2014/04/02/announcing-an-updated-version-of-internet-explorer-11-available-on-windows-8-1-windows-7-and-windows-phone-8-1.aspx) to IE11 you now have this functionality baked in:

![menu](https://cloud.githubusercontent.com/assets/4303/2846171/0f40a2a4-d09f-11e3-8592-d2d9ad8eac51.png)

![dialog](https://cloud.githubusercontent.com/assets/430

[2014-04-30 19:45] #4 closed, assigned to nobody

[2014-04-30 19:50] miketaylr opened #5 "Make bookmarklet that does the same thing as the extension"
For people that prefer those--also I think this could work for IE11.

[2014-04-30 21:19] miketaylr opened #6 "Firefox: title overflow when in hamburger helper"
![oops](https://i.cloudup.com/iBkmeB5Nqo-3000x3000.png)

[2014-05-05 18:51] #5 closed, assigned to nobody

[2014-05-05 19:02] #6 closed, assigned to nobody

[2014-05-13 17:29] #2 closed, assigned to nobody

[2014-05-13 19:10] miketaylr opened #7 "NativeWindow.menu icon missing in Firefox for Android?"
Unsure why, it worked when I took the screenshot in the README.

[2014-05-29 21:43] miketaylr opened #8 "If person requests desktop site in Firefox for Android, show a doorhanger message"
Clippy-like, asking if they'd like to report an issue on webcompat.com.

[2014-06-17 16:53] #8 closed, assigned to nobody

[2014-11-06 18:08] #7 closed, assigned to nobody

[2014-11-06 18:09] miketaylr opened #9 "Sync with webcompatReporter.js for mobile firefox addon"
There are some fixes in Nightly that would be good to pull in. Namely `isReportableUrl`.

[2014-11-17 06:37] karlcow opened #10 "Aurora 35.0a2 incompatible with the addon."
0. Go to addons site with Firefox Android Aurora 35.0a2
1. Click on webcompat

The addon is not installed.
It says that Firefox 35.0a2 is not compatible.

[2015-02-06 23:15] miketaylr commented on #10
Hmm, sorry that I missed this. Will investigate soon.

[2015-11-03 06:56] #9 closed

[2015-11-06 05:07] miketaylr opened #11 "Don't allow double install in Firefox or Firefox for Android"
For Fennec Nightly users, installing the addon shouldn't add another menu item.

See https://github.com/webcompat/webcompat.com/issues/825.

[2015-12-17 22:02] miketaylr commented on #3
Gonna file bugs for individual add-ons.

[2015-12-17 22:03] #3 closed

[2015-12-17 22:03] miketaylr opened #12 "Publish updated add-ons via regular channels"
Not sure if I kept the original certs for signing, but we'll find out...

[2015-12-17 22:30] miketaylr opened #13 "Update Desktop Firefox add-on to support screenshots"
Ideally we write a Web Extension here (and lazily port from Chrome extension), but I'm blocked on the following:

https://bugzilla.mozilla.org/show_bug.cgi?id=1231819

[2015-12-17 22:33] miketaylr opened #14 "Update Safari add-on to capture screenshot"
`SafariBrowserTab.visibleContentsAsDataURL` should do what we want.

https://developer.apple.com/library/safari/documentation/UserExperience/Reference/SBrowserTabClassReference/#//apple_ref/javascript/instm/SafariBrowserTab/visibleContentsAsDataURL

[2015-12-17 22:34] miketaylr opened #15 "Update Opera add-on to take screenshots"

[2015-12-17 22:43] #15 closed

[2015-12-17 22:58] miketaylr opened #16 "Update Fennec add-on to support screenshot junk"
This one doesn't use the Addon-SDK or Web Extensions, so whatever it ends up looking like, it'll get mirrored into the built-in Nightly reporter add-on thingy. We can either send a base64 image like the others, or send a blob (because it'll be using `2dRenderingContext.drawWindow()` which supports either).

[2015-12-17 23:07] miketaylr commented on #13
In the meantime, I have some code using the SDK that I can push in a bit.

[2015-12-18 01:28] miketaylr commented on #13
I think everything here should work for #16, but I need to double check.

[2015-12-18 19:57] miketaylr opened #17 "Add-on for Edge"
if and when they support them?

cf., https://github.com/webcompat/webcompat.com/issues/251

[2015-12-28 21:42] miketaylr commented on #13
This is working for Desktop for now, we can revisit with Web Extensions when that is ready.

[2015-12-28 21:42] #13 closed

[2015-12-29 17:08] #14 closed

[2016-03-22 18:40] miketaylr commented on #12
Chrome and Opera have been updated. Safari would require me to pay $100 to do so, so forget that.

[2016-03-22 18:40] #12 closed

[2016-03-22 18:41] miketaylr commented on #12
(Firefox as well)

[2016-03-22 18:41] miketaylr opened #18 "Make Firefox desktop add-on e10s compatible"
@karlcow mentioned getting an error in Nightly.

To investigate what's causing it and make the addon multiprocess friendly.

[2016-03-28 17:48] miketaylr commented on #18
It seems this doesn't even work right now in e10s. :cry:

STR:

0) Make sure e10s is enabled in Firefox Nightly (in about:preferences, make sure Enable Multi-process is selected)
1) Download and install https://addons.mozilla.org/en-US/firefox/addon/webcompatcom-reporter/
2) Press Lightbulb icon to open the webcompat.com form

Expected: New tab opens
Actual: ... nothing.

If you disable e10s, the

[2016-03-28 17:59] miketaylr commented on #18
A few links to get help started:

The firefox addon was built with jpm with the Firefox addon-sdk:
https://developer.mozilla.org/en-US/Add-ons/SDK/Tutorials/Getting_Started_(jpm)

There's gotta be some docs on how to convert add-ons to e10s.... somewhere. :)

[2016-03-28 18:03] miketaylr commented on #18
Here we go: https://developer.mozilla.org/en-US/Add-ons/Working_with_multiprocess_Firefox

cc @dshgna

[2016-03-28 18:14] miketaylr commented on #18
And of course, the desktop add-on code lives here: https://github.com/webcompat/webcompat-reporter-extensions/tree/master/firefox

[2016-03-28 18:20] miketaylr commented on #18
Maybe the best way forward here is to make a Web Extension with a background script, similar to: https://github.com/vladikoff/fxa-dev-extension

The one blocker when I rewrote the addon was tabs.captureVisibleTab, but that was fixed in https://bugzilla.mozilla.org/show_bug.cgi?id=1231819 (shipping in 47).

So the bug here will be to take a look at Web Extensions and see what it will take to get th

[2016-03-28 18:27] miketaylr commented on #18
Here's a doc on porting from a Chrome extension: https://developer.mozilla.org/en-US/Add-ons/WebExtensions/Porting_from_Google_Chrome

[2016-03-30 13:46] adamopenweb opened #20 "Unable to report bug when submitted through addon"
STR:
1) Load broken website
2) Click Webcompat addon site issue button
3) Fill in details about bug
4) Click Report via Github

Expected behavior:
Bug is filed, receive trophy.

Actual behavior:
Site hangs, spinner spins infinitely, reporter feels sadness within.

Mozilla/5.0 (Macintosh; Intel Mac OS X 10.11; rv:45.0) Gecko/20100101 Firefox/45.0

[2016-03-30 14:05] miketaylr commented on #20
Adam said to me on IRC that this works in Dev Edition, and not in Release. I think it's related to some FormData changes in 46+.

[2016-04-01 18:57] #18 closed

[2016-04-01 19:54] miketaylr commented on #17
These are coming!

https://blogs.windows.com/msedgedev/2016/03/17/preview-extensions/

[2016-04-12 00:50] miketaylr commented on #16
While I'm in here, fix this: https://github.com/webcompat/webcompat-reporter-extensions/commit/0b24129e858ea4c32f6f22811a4342afab8a4c5e#commitcomment-17042407

[2016-04-12 00:54] miketaylr commented on #10
I think we can close this now -- we're working on a fix w/ the WebExtension version https://github.com/webcompat/webcompat-reporter-extensions/commit/5bfa4bd8c34aa26a244d09f8697c4ceb236ff228 (just waiting on a bugfix on the Gecko side, currently blocked on https://bugzilla.mozilla.org/show_bug.cgi?id=1254003 unless we want to try a `setTimeout` workaround)

[2016-04-12 00:54] #10 closed

[2016-04-17 04:37] hallvors opened #21 "Privacy section of README should mention screenshots"
Since we're adding more functionality to those extensions I suppose the README could do with a bit of updating. Right now it says all that happens is submitting a URL to webcompat.com - it should mention screenshots.

[2016-04-19 15:01] miketaylr commented on #21
That's a good idea @hallvors -- want to send a PR? https://webcompat.com/privacy mentions screenshots, could be some inspiration.

[2016-05-17 22:19] miketaylr commented on #20
Hm, I wonder if this isn't a larger issue that isn't specific to the add-on.

I just did some ad-hoc testing and my findings were:

1) if you use the add-on and click "Report via GitHub" it fails. There's an error message about not having the right CORS headers, which is new. Something changed, possibly on GitHub's side of things. To investigate. See the screenshot here: https://irccloud.mozilla.c

[2016-05-17 23:53] adamopenweb commented on #20
Mike,
I can confirm that step 2 works as expected https://webcompat.com/issues/2575.
Step 3 didn't work though, I got the mixed content blocking error again.

[2016-05-20 15:54] miketaylr commented on #20
In theory this should be fixed now?

[2016-05-20 16:44] adamopenweb commented on #20
WFM at the moment, let's close.

[2016-05-20 16:44] #20 closed

[2016-05-20 17:21] miketaylr commented on #20
Such confidence!

[2016-06-29 03:00] #21 closed

[2016-06-29 03:00] miketaylr commented on #21
I'll take that as a no. 😄

[2016-07-19 00:58] miketaylr opened #22 "Can't submit compat bug in fennec"
See https://bugzilla.mozilla.org/show_bug.cgi?id=1280650

Reported by @adamopenweb

There isn't an option to say "Yes" when asked to report site issue.

STR:
1. Open Firefox Android 47
2. Navigate to a website (eg. web.skype.com)
3. Select "Request desktop site"
4. Dialog appears asking if you would like to report a site issue

Expected results:
Option for Yes or No thanks

Actual results:
Only "N

[2016-07-19 10:56] denschub commented on #22
Fun, I recently discovered the same issue somewhere else some time ago.

[2016-07-21 01:48] #22 closed

[2016-07-21 21:59] adamopenweb opened #24 "Helper wizard"
After a quick discussion with @miketaylr about this, I put together some ideas regarding adding a wizard to the reporter extensions. Thoughts?

Why add a wizard to the webcompat.com reporter extensions?
- The reporter is available for anyone to download
    - Make it easy for first time users to understand what good bugs look like.
    - How users can provide actionable information in the bug repo

[2016-07-26 20:26] miketaylr commented on #24
👍

[2016-07-26 20:28] miketaylr commented on #24
P1, can we build this ASAP.

[2016-07-26 22:52] karlcow commented on #24
Are you sure?
https://www.youtube.com/watch?v=upEn5msShdk

[2016-08-04 18:54] adamopenweb opened #25 "Suggest things for the user to try"
Idea from Brad re:tracking protection.
[code]
Suggest ways to get around busted sites. Disable tracking protection, ad-blockers/add-ons.
For sites which block or severely hurt the user experience, give a more apparent notification to the user.

[2016-08-04 21:53] karlcow commented on #25
More actions from the users is always hard to trigger. Maybe a first step to help users and webcompat at the same time is to have in the bug reporting system a way to

1. show the users that tracking protection is on (with a very short explanation that it might why the site is not working properly)
2. send a flag in the bug report that it is on (so we know when testing a bit more of the context).

[2016-08-04 21:53] karlcow commented on #25
Issue 2: is it privacy invasive to report that TP is on.

[2016-08-04 22:03] miketaylr commented on #25
For non-WebExtensions add-ons, yeah. Not sure about Web Extensions.

[2016-08-08 20:41] adamopenweb commented on #25
Looks like no for web extensions.
https://wiki.mozilla.org/WebExtensions/FAQ#Will_I_have_access_to_about:config_or_the_preferences.3F

[2016-08-30 19:37] AkhilHector commented on #24
@miketaylr i am looking for contribution, can you please help me. I am interested to contribute to web compatibility

[2016-08-30 22:07] adamopenweb opened #27 "Add webcompat reporter to context menu in Firefox"
As someone who looks into the errors on page, I often right-click and go to my Inspector/Dev Tools. The context menu would be a great spot to put a link to the webcompat form.

<img width="220" alt="context" src="https://cloud.githubusercontent.com/assets/6587558/18108904/97936618-6edc-11e6-800d-e265b4c7e803.png">

[2016-08-30 22:12] adamopenweb opened #28 "Create dark light bulb icon to match styling of other icons in the toolbar/menu"
Add-On icon is hard to read in the Firefox toolbar. It may not be recognizable as a light bulb. It is a little easier to see when placed in the menu but is still not completely readable.

A darker light bulb icon may be easier for users to recognize on the toolbar.

<img width="166" alt="toolbar" src="https://cloud.githubusercontent.com/assets/6587558/18109046/4549d044-6edd-11e6-89c9-e81856c0647e.

[2016-08-30 22:16] adamopenweb opened #29 "Use a shorter name when the icon is placed in the menu"
In the menu, it might be better if to have a short name like "Report Issue" and hover text can have more detailed explanation.

<img width="168" alt="menu" src="https://cloud.githubusercontent.com/assets/6587558/18109103/7ecb1332-6edd-11e6-8ff4-48299a7898ac.png">

Here is an example:
<img width="267" alt="fullscreen" src="https://cloud.githubusercontent.com/assets/6587558/18109177/d2cdb3f4-6edd-11

[2016-08-31 17:54] miketaylr commented on #27
Yeah, this shouldn't be very hard -- we should do it for all add-ons (not just Firefox dekstop) if they provide the APIs.

[2016-08-31 18:00] miketaylr commented on #27
Chrome, Opera, Firefox:
https://developer.mozilla.org/en-US/Add-ons/WebExtensions/API/contextMenus
https://developer.chrome.com/extensions/contextMenus

For Safari... https://developer.apple.com/library/safari/documentation/Tools/Conceptual/SafariExtensionGuide/AddingContextualMenuItems/AddingContextualMenuItems.html

But I don't know if I want to keep maintaining it -- it costs $100 a year to be

[2016-08-31 19:58] AkhilHector commented on #27
I'm on it @miketaylr

[2016-08-31 20:02] miketaylr commented on #27
Awesome @AkhilHector!

[2016-09-01 16:48] AkhilHector commented on #11
@miketaylr I will take up this issue, I faced the same issue when i created a report option in context menu. Every time i test i used to have the context menu being declared twice.

[2016-09-01 19:00] miketaylr commented on #27
(updating title to be just for Firefox, will file issue for Chrome and Opera)

[2016-09-01 19:01] miketaylr opened #31 "Add context menu options for Chrome and Opera add-ons"
See https://github.com/webcompat/webcompat-reporter-extensions/issues/27.

The change should be perhaps literally the exact as https://github.com/webcompat/webcompat-reporter-extensions/pull/30.

[2016-09-01 19:03] AkhilHector commented on #31
i will work on it @miketaylr

[2016-09-01 19:06] #27 closed

[2016-09-02 15:37] miketaylr opened #33 "Add eslint linting"
We can probably just run this via npm scripts, so a package.json would be needed as well.

http://eslint.org/docs/user-guide/command-line-interface

We use the following settings for webcompat.com:

https://github.com/webcompat/webcompat.com/blob/master/package.json#L53

[2016-09-02 15:49] miketaylr commented on #31
Fixed!

(one cool thing to do is if you make the title of the PR something like "Fixes #31: blah blah" when it gets merged it will automatically close the issue)

[2016-09-02 15:49] #31 closed

[2016-09-02 16:16] miketaylr opened #34 "Add-on should add a class to documentElement to hide "install our extension!" prompt"
cf. https://github.com/webcompat/webcompat.com/issues/1162

Not sure how the timing will work out, but if we can add a class like `has-extension` to `document.documentElement` we can make the page look less dumb.

[2016-09-02 16:20] miketaylr commented on #29
Yeah, I wanna see what "Report Site Issue" looks like. Seems about the same size as "New Private Window"

[2016-09-02 16:26] miketaylr commented on #11
One thing to keep in mind is this "add-on" exists natively in Firefox for Android (for Aurora and Nightly): https://dxr.mozilla.org/mozilla-central/source/mobile/android/chrome/content/WebcompatReporter.js

So the idea is to prevent installation of the AMO add-on on Nightly and Aurora channels.

We hope to have something similar for Firefox desktop very soon as well.

[2016-09-02 16:31] adamopenweb commented on #34
The extension will want to detect that it's on homepage of webcompat.com. Will need to use a content script and might want to use something like 'window.location.href' to get the current address.

[2016-09-02 16:48] AkhilHector commented on #29
@miketaylr you might want to have a look at this

![screenshot from 2016-09-02 22 17 38](https://cloud.githubusercontent.com/assets/5903056/18211420/1ee3b6f6-715b-11e6-9be2-ad995381ab76.png)

[2016-09-02 16:50] miketaylr commented on #29
Seems good @AkhilHector -- I guess they use Title Case, so it should be `Report Site Issue`

[2016-09-02 16:51] AkhilHector commented on #29
Cool should i submit a PR ?

[2016-09-02 16:53] AkhilHector commented on #29
yeah that would actually clear a lot of confusion. +1 @miketaylr

[2016-09-02 16:55] miketaylr opened #35 "Remove firefox directory"
We moved to a WebExtension, which is shipping now, so we can just get rid of the old one. And then we can rename firefox-webext to just firefox.

[2016-09-02 16:55] miketaylr commented on #35
to be clear: remove https://github.com/webcompat/webcompat-reporter-extensions/tree/master/firefox

rename https://github.com/webcompat/webcompat-reporter-extensions/tree/master/firefox-webext to just `firefox`

[2016-09-02 17:14] adamopenweb commented on #28
Working on this.

[2016-09-02 17:45] miketaylr commented on #34
I'll take this one.

[2016-09-02 18:05] miketaylr commented on #35
(note: this is super low priority, we can wait on it -- to not cause conflicts for people who are hacking on things right now)

[2016-09-02 18:10] AkhilHector commented on #35
i got this @miketaylr

[2016-09-02 18:10] AkhilHector commented on #33
i got this too @miketaylr

[2016-09-02 18:12] miketaylr commented on #33
👍

[2016-09-02 18:25] miketaylr commented on #35
Let's hold off a few days @AkhilHector or maybe, just as part one remove `/firefox/`. Otherwise @adamopenweb and I are gonna end up with some merge conflicts.

[2016-09-02 18:26] miketaylr commented on #35
(and then we can rename in a follow up bug)

[2016-09-02 18:28] AkhilHector commented on #35
oh al right no issue man. I think we will hold off for a few days @miketaylr

[2016-09-02 19:19] adamopenweb commented on #28
Trying out two styles, I'm also open to editing it another way if someone has suggestions. @karlcow @miketaylr?

1)
<img width="558" alt="toolbar" src="https://cloud.githubusercontent.com/assets/6587558/18215618/03d2858a-7120-11e6-8639-c8df2ee20bbb.png">
<img width="245" alt="menu" src="https://cloud.githubusercontent.com/assets/6587558/18215615/017eafb6-7120-11e6-92c6-6fb527043497.png">

2)
<img

[2016-09-02 19:21] adamopenweb commented on #28
I just noticed switching between light and dark themes (say default vs. dev edition) that the icons invert with it. I'll look into that.

[2016-09-02 19:24] miketaylr commented on #28
I like the first option better.

Ah interesting.

Also, I wonder if we keep the smaller one as yellow when it's next to the URL bar and use the larger one w/ grayscale when it's in the hamburger menu?

[2016-09-02 19:28] miketaylr commented on #35
ya sgtm

[2016-09-02 21:24] #29 closed

[2016-09-02 22:18] #34 closed

[2016-09-05 03:05] karlcow commented on #28
The light bulb probably deserves to be simplified for small scale.
I wonder if SVG is supported for icons.

[2016-09-05 03:08] karlcow commented on #28
for the design I would prefer a 3rd option.
something along
![capture d ecran 2016-09-05 a 12 06 23](https://cloud.githubusercontent.com/assets/505230/18236476/3cba3620-7361-11e6-849f-75943263bcff.png) because it would go along with the style of other icons which are positive rendering of the object (contour).

1. The first is light in a darkroom
2. The second is a negative of the first.
3. The th

[2016-09-06 20:05] miketaylr commented on #28
Do you have a high-quality asset for that @karlcow?

yep. see:

chrome://pocket/content/panels/img/pocket.svg#pocket-mark

[2016-09-06 20:06] miketaylr commented on #28
(i guess that lightbulb is upside down...)

If we have a nice icon ready, or can have one in the next day or two -- let's go for it. Otherwise I'd prefer to not block on that (and make the icon better when we have a better one).

[2016-09-06 22:25] AkhilHector commented on #17
i got this @miketaylr

PS : Although Microsoft now supports web extensions there are couple of problems which are to be focused. Let me go ahead and test.

[2016-09-06 22:28] miketaylr commented on #17
Right now they're curating extensions, right? Or did they make it so anyone can publish an extension?

[2016-09-06 22:30] AkhilHector commented on #17
https://developer.microsoft.com/en-us/microsoft-edge/platform/documentation/extensions/api-support/supported-apis/

[2016-09-08 01:57] karlcow commented on #28
The light bulb in my comment is not the one to use it was here to express the idea of my comment. For SVG support very cool.
I would move on with the option 2, and then change the icon to something close to the 3, when we create it. Would it work for @magsout @adamopenweb  and @miketaylr

[2016-09-08 15:51] miketaylr commented on #28
Yep, SGTM.

[2016-09-08 20:25] miketaylr opened #39 "Send custom headers when reporting via add-on"
`X-Requested-With` (or something)

(even though X- prefix is discouraged: https://tools.ietf.org/html/rfc6648 -- there's zero chance this header with become widely used....so whatever)

possible values:

addon-firefox, addon-chrome, addon-opera, addon-fennec,
native-firefox, native-fennec (for the versions that ship/will ship in Nightly/Aurora)

Do we bother including the browser version w/ the he

[2016-09-08 22:51] miketaylr commented on #39
maybe addon-reporter-firefox & native-reporter-firefox are better. 🚲 🏠

[2016-09-08 22:55] miketaylr commented on #39
<img width="545" alt="screen shot 2016-09-08 at 5 54 58 pm" src="https://cloud.githubusercontent.com/assets/67283/18369783/6c6bddc2-75ed-11e6-88ca-c596c7201b05.png">

[2016-09-08 23:49] karlcow commented on #39
hehe.

`X-Requested-With` is used a lot in XHR cross domain requests ;) Probably a slip of mind.

I'm glad you used `X-Reported-With` on
https://github.com/webcompat/webcompat-reporter-extensions/commit/6a2b39a3c495447cae2f32b9fd119d432e284517#diff-2e326533c87ec09a36dfc8b1cfb88367R35

[2016-09-09 00:08] miketaylr commented on #39
😆

[2016-09-09 00:23] #39 closed

[2016-09-11 16:53] AkhilHector commented on #24
@miketaylr i will be on this

[2016-09-17 13:05] magsout commented on #28
Yellow is not the easier color for web... And yes in toolbar is not easy to recognize that it's a bulb. (myabe think about another color for webcompat.com ?.... )

@karlcow  agree 👍

[2016-09-27 20:37] #33 closed

[2016-09-29 17:49] miketaylr opened #41 "Add X-Reported-With headers to Chrome, Opera, and Firefox for Android add-ons"
Just like https://github.com/webcompat/webcompat-reporter-extensions/pull/40.

`var reporterID = 'addon-reporter-firefox';` should be different, though.

'addon-reporter-chrome', 'addon-reporter-opera', 'addon-reporter-fennec' seem good.

[2016-09-29 18:24] miketaylr commented on #35
@AkhilHector should be fine to proceed here!

[2016-09-29 18:25] AkhilHector commented on #35
Ok @miketaylr

[2016-09-29 18:26] AkhilHector opened #42 "Remove jpm and web-ext as dev dependencies for chrome and opera"

[2016-09-29 18:27] AkhilHector commented on #41
Shall i @miketaylr ?

[2016-09-29 18:32] miketaylr commented on #41
👍

[2016-09-29 18:50] miketaylr opened #43 "Change webRequest URL to match on /issues/new endpoint, not homepage"

[2016-09-29 18:50] miketaylr commented on #41
I'm gonna push a fix to #43, check out those changes before submitting a PR @AkhilHector.

[2016-09-29 18:51] AkhilHector commented on #41
Okay @miketaylr

[2016-09-29 18:53] #43 closed

[2016-09-29 18:53] miketaylr commented on #43
(no PR, just a trivial change)

[2016-09-29 20:44] adamopenweb commented on #28
The dark bulb looks pretty bad with the Dev Edition theme.

<img width="122" alt="dev" src="https://cloud.githubusercontent.com/assets/6587558/18971407/f22c42a0-8662-11e6-8afa-42f4fa502bd1.png">

I didn't find in the documentation how to switch the icon based on the theme. @miketaylr suggested we keep the yellow icon in the toolbar and use the dark one in the menu. When I test on my external monit

[2016-09-29 21:48] denschub commented on #28
There is no API for that. I've built something [before](https://github.com/denschub/firefox-tabgroups/blob/develop/src/index.js#L58) (the helper is implemented [here](https://github.com/denschub/firefox-tabgroups/blob/develop/src/lib/utils.js#L26)), but even this implementation is not the best since it only resets the icon on a browser reboot and you'd have to need to add a preference listener.

T

[2016-09-30 02:58] adamopenweb commented on #28
Thanks @denschub! I didn't see a way to implement this using web extensions, looks like they are using the addon SDK to inject the stylesheet?

[2016-10-05 09:44] AkhilHector commented on #42
@miketaylr can i know the status ?

[2016-10-05 16:54] miketaylr commented on #42
@AkhilHector sorry, didn't know there was a question. This is ready to be worked on -- those deps don't make any sense for chrome or opera.

[2016-10-05 17:03] AkhilHector commented on #42
@miketaylr yep i know those deps don't make sense but you said you wanted to work on this issue, So i wanted to know when you will submit the PR, the status was about the PR. :P
PS :  I am more than happy to work on this if you are busy

[2016-10-05 17:59] miketaylr commented on #42
@AkhilHector oh oops. Yep, go for it!

[2016-10-05 18:03] AkhilHector commented on #42
+1

[2016-10-05 18:20] #42 closed

[2016-10-05 18:27] akhilpandey95 opened #45 "Add an npm top level command for running eslint on all add-on folders"
The command must eslint the following sub-folders :
- `firefox`
- `chrome`
- `opera`

PS  : The command must run from the project root

[2016-10-05 21:05] adamopenweb commented on #28
Was talking to @callahad today in Toronto. Doesn't look like this exists in web extensions at the moment.

[2016-10-06 00:42] denschub commented on #28
Well... at least we've learned something...

[2016-10-06 18:43] #35 closed

[2016-10-14 16:30] miketaylr opened #49 "Change URL prefix to new /issues/new endpoint"
E.g., https://github.com/webcompat/webcompat-reporter-extensions/blob/master/firefox/background.js#L5 should be `https://webcompat.com/issues/new?url=`

[2016-10-17 02:59] adamopenweb opened #50 "Default location of reporter should be menu"
The reporter should by default go into the menu instead of the toolbar.

[2016-10-17 03:16] adamopenweb opened #51 "Create SVG icon for reporter"
As discussed we should switch our icon to SVG for the reporter.

[2016-10-17 03:31] adamopenweb opened #52 "Port reporter back to add-on"
In order to move on issues #50 and #28, we need to switch the Firefox reporter back to add-on SDK. @miketaylr might still have the old code which could be handy.

[2016-10-17 05:02] #49 closed

[2016-10-17 05:30] karlcow commented on #51
@adamopenweb http://www.la-grange.net/tmp/lightbulb.svg

[2016-10-17 06:17] miketaylr opened #54 "Disable addon for non-webby URLs"
The add-on half to https://github.com/webcompat/webcompat.com/issues/1054.

[2016-10-17 23:42] miketaylr commented on #41
(I'm gonna steal this one since I'm already updating a few things)

[2016-10-17 23:44] miketaylr commented on #41
(but just for Chrome and Opera, need to open a new issue for Fennec)

[2016-10-17 23:46] miketaylr opened #55 "Add homepage form URL to onBeforeSendHeaders"
We want to send custom headers for both.

https://github.com/webcompat/webcompat-reporter-extensions/blob/master/firefox/background.js#L41

[2016-10-18 00:07] miketaylr commented on #41
(oh, and a random commit updating the firefox mobile build script)

[2016-10-18 01:24] #41 closed

[2016-10-18 01:24] #54 closed

[2016-10-18 08:38] miketaylr commented on #55
On second thought, we don't want this. If users have the add-on installed, but navigate to the homepage by themselves, it shouldn't count as an add-on report, IMO.

[2016-10-18 08:38] #55 closed

[2016-10-20 06:49] miketaylr commented on #52
A few important links:

CustomizableUI module to stick it in the hamburger by default: https://developer.mozilla.org/en-US/docs/Mozilla/JavaScript_code_modules/CustomizableUI.jsm

The pocket add-on to steal ideas from: https://dxr.mozilla.org/mozilla-central/source/browser/extensions/pocket

[2016-10-20 06:54] miketaylr commented on #52
Last state of the SDK firefox add-on before we nuked it: https://github.com/webcompat/webcompat-reporter-extensions/tree/ca378bb42ab37a21f7c7a63945b5e49a274f0eb5/firefox

[2016-10-20 06:58] miketaylr commented on #52
I think we probably want to convert this to a bootstrap add-on rather than keep on using the SDK. If that's the case, we could just make the built-in mobile reporter e10s friendly, and use the CustomizableUI module to stick the icon where we want it:

https://dxr.mozilla.org/mozilla-central/source/mobile/android/chrome/content/WebcompatReporter.js

[2016-10-20 07:05] miketaylr commented on #52
Message Manager docs: https://developer.mozilla.org/en-US/Firefox/Multiprocess_Firefox/Message_Manager

[2016-10-20 07:33] miketaylr commented on #52
From https://developer.mozilla.org/en-US/Firefox/Multiprocess_Firefox/Message_Manager/_Limitations_of_frame_scripts#Observers_in_the_content_process,

We use `content-document-global-created` in the mobile reporter: https://dxr.mozilla.org/mozilla-central/source/mobile/android/chrome/content/WebcompatReporter.js#32

[2016-11-10 19:19] miketaylr commented on #51
<img width="360" alt="screen shot 2016-11-10 at 1 10 17 pm" src="https://cloud.githubusercontent.com/assets/67283/20190735/3f927c8e-a748-11e6-9f67-f5316fd78ccb.png">
<img width="203" alt="screen shot 2016-11-10 at 1 11 45 pm" src="https://cloud.githubusercontent.com/assets/67283/20190740/436944d2-a748-11e6-88cd-f0842db8ad56.png">

We can do some work to tweak how this appears in the toolbar vs the

[2016-11-10 19:19] #51 closed

[2016-11-20 10:26] AkhilHector commented on #45
@miketaylr i want to close this so should i get this done once #52 is done or should i go ahead irrespective of that ?

[2016-11-21 19:13] miketaylr commented on #45
@AkhilHector nah, go ahead. I can re-base the changes in #52 or fix any conflicts when it's ready!

[2016-11-21 23:14] AkhilHector commented on #45
Ok

[2016-11-23 18:58] #52 closed

[2016-11-23 18:59] miketaylr commented on #50
This is what we ended up with in #52, so we can close this now.

[2016-11-23 18:59] #50 closed

[2016-11-23 19:01] miketaylr commented on #28
We ended up with https://github.com/webcompat/webcompat-reporter-extensions/blob/master/firefox-bootstrap/skin/lightbulb.svg in the bootstrap.js port -- let's close this, thanks everyone!

[2016-11-23 19:01] #28 closed

[2017-01-03 19:26] zoepage opened #58 "[bug] broken download link in Safari"
Download link to the extension is broken in Safari.

<img width="1233" alt="screen shot 2017-01-03 at 8 24 47 pm" src="https://cloud.githubusercontent.com/assets/562354/21620044/b6589cfc-d1f2-11e6-8ac7-7ba26c4a1975.png">

[2017-01-03 21:09] miketaylr opened #59 "Ditch custom headers and use src param"
And once this is done, bump version number and publish.

[2017-01-03 21:34] miketaylr opened #61 "Switch to whitelist for `isReportableURL`"
We should only accept `http` and `https`, rather than attempt to know what shouldnt be allowed.

There's a nice idiom suggested by Dennis we can re-use:

https://github.com/webcompat/webcompat-reporter-extensions/blob/master/firefox-bootstrap/bootstrap.js#L57-L58

[2017-01-03 21:35] miketaylr opened #62 "Remove `firefox-bootstrap` folder"
I think the built-in Report Site Issue button should be maintained in Mozilla Central, similar to how we maintain the built-in menu item for Fennec. And the Firefox add-on can live here as a web extension.

[2017-01-03 21:55] #59 closed

[2017-01-17 16:36] #62 closed

[2017-01-17 16:37] miketaylr opened #65 "Set up Travis lint task"
We don't have tests really... but we're going to have a nice linting task when #64 is merged. It would be cool to at least set up Travis to lint all PRs.

[2017-01-20 04:06] adamopenweb opened #66 "Update user on site fixes"
Going to throw out an idea here. If a user reports a website as broken, we could store which sites have been reported in the browser and send the user a notification when the site gets fixed.

It could be a good way to encourage users to report more bugs, if they feel their actions made a difference.

Thoughts?

[2017-01-20 08:40] AkhilHector commented on #66
👍 Yes i believe there should be a feature of this sort. I support this.

[2017-01-23 16:20] miketaylr commented on #66
@adamopenweb do you mean only to the user who reported the issue?

[2017-01-23 16:28] adamopenweb commented on #66
@miketaylr yes

[2017-01-23 16:32] miketaylr commented on #66
That would be a cool feature. 👍

[2017-03-31 19:59] cvan opened #67 "Consider accepting and supporting "sentiment reports""
Per my conversation with @miketaylr, allowing submission of sentiment reports – not just compatibility issues – could be an interesting use case for WebCompat.

I ask on behalf of the WebVR team, in the various (experimental) [WebVR-enabled browsers¹](https://webvr.rocks/browsers), we're seeing, triaging, and addressing sites into several buckets: great, good, bad, awful, needs fixing, needs bette

[2017-03-31 20:02] cvan opened #68 "Add hooks to allow content (web pages) to capture a screenshot for reporting site issues"
Just like [here in the Firefox extension](https://github.com/webcompat/webcompat-reporter-extensions/blob/878ac06/firefox/background.js#L52-L53), can we add a hook that can let a web page communicate with the extension to take a screenshot (either by `postMessage`, a DOM API added by a WebExtension-compatible content script, etc.)?

The screenshot bits are the most important for us, when we direct

[2017-03-31 20:24] cvan opened #69 "Capture and attach videos to reported site issues (using the `chrome.desktopCapture` API, falling back to `MediaRecorder` and `form[enctype="multipart/form-data"]`)"
It'd be nice to support attaching a video (and ideally recording one directly from the browser).

1. Use the [`chrome.desktopCapture`](https://developer.chrome.com/extensions/desktopCapture) API to capture a web page (and/or the whole desktop screen) a video of the user.
    * Still allow users to upload videos when the `chrome.desktopCapture` API is unavailable (for example, in the case of [Firef

[2017-03-31 20:27] cvan opened #70 "Support reporting issues from iOS browsers and Chrome for Android"
Fortunately, because Firefox for Android supports extensions (!), there's a [WebCompat extension for Firefox for Android](https://github.com/webcompat/webcompat-reporter-extensions/tree/master/firefox-mobile).

Because WebKit browsers on mobile/tablet devices don't support Safari extensions nor does Chrome on non-desktop devices, it'd be nice to see an easy (or recommended) flow for reporting issu

[2017-03-31 20:29] cvan commented on #68
Related bits from Safari extension: https://github.com/webcompat/webcompat-reporter-extensions/blob/d0fb595/safari/webcompat-reporter.safariextension/sendScreenshot.js#L8

We'd need more than that (not just whitelisted for the `webcompat.com` origin), but that's the general idea of what I was thinking.

[2017-03-31 20:31] cvan commented on #67
Also see the [Firefox Add-on Compatibility Reporter extension](https://addons.mozilla.org/en-us/firefox/addon/add-on-compatibility-reporter/), which the Add-ons team and community use with  great success (which collects feedback from opt-in volunteers) to ascertain whether an add-on works or doesn't for a given Firefox version *and* to be able to quickly identify and address regressions (either in

[2017-03-31 21:32] chuckharmston commented on #67
We're still working on getting good, actionable data on Pulse, but I'm happy to help how I can.

[2017-04-08 10:24] AkhilHector commented on #65
Can i work on this ?

[2017-07-27 04:25] MDTsai opened #71 "Add build ID if it's Firefox Nightly"
With build ID, it's possible to reduce the time to find new regression.

[2017-07-27 14:49] miketaylr commented on #71
Great idea! Can you file this bug in Web Compatibility Tools::General? We'll have to make the changes in m-c, since the web extensions version won't have access to this, I think.

(I can help out if you'd like to write the patches as well.)

[2017-07-28 01:46] yfdyh000 commented on #71
FYI: https://developer.mozilla.org/en-US/docs/Web/API/Navigator/buildID

[2017-07-28 15:20] yfdyh000 commented on #71
I think this should be implemented with javascript on webpage.

https://github.com/webcompat/webcompat.com/blob/2fa22118e5c2b23c552214c127d99d002e1c6353/webcompat/form.py#L99 uses ua_header.

[2017-07-28 15:23] yfdyh000 commented on #71
In addition, os should get the build id too, like 15063 or more detail.

[2017-10-31 05:01] cvan commented on #67
@chuckharmston @miketaylr: for WebVR, I'm debating whether to create a database of sentiment good/bad reports. I think this could be useful for WebCompat. has there been any work I should know about in this area? any thoughts on where or how to maintain this? (I can deploy something to Heroku/Bluemix.)

[2017-10-31 05:16] cvan commented on #24
Is this still something that folks think should be designed? Are there any changes to make?

[2017-10-31 05:45] chuckharmston commented on #67
@cvan Feel free to fork [Pulse](https://github.com/mozilla/pulse), it gets you 80% of the way there. The catch: it's an embedded WebExtension, which will no longer work on 57+.

[2017-12-12 21:33] rugk commented on #11
Mhh see https://github.com/webcompat/web-bugs/issues/14191

What is the current state? Nothing works in Firefox 57 for Android.

[2017-12-13 09:02] reinhart1010 commented on #70
This could be done by having a shortlink to report a bug, such as web.bug/https://google.com to report a problem in Google website.

[2017-12-13 23:34] miketaylr commented on #11
That's a bug. I need to take a look at 57 compat, ideally we have an add-on option for stable users.

[2017-12-13 23:35] miketaylr commented on #11
Oops, that's a different issue. I'll file a new one.

[2017-12-13 23:35] miketaylr opened #72 "Mobile addon doesn't work for 57 stable Firefox"
See https://github.com/webcompat/webcompat-reporter-extensions/issues/11#issuecomment-351201644

[2017-12-26 01:06] miketaylr commented on #61
https://github.com/webcompat/web-bugs/issues/14468

[2017-12-26 02:11] miketaylr commented on #61
See https://bugzilla.mozilla.org/show_bug.cgi?id=1427055 for the native version.

[2017-12-26 02:17] miketaylr commented on #61
That's 404 now, but `["http", "https"].includes(location.protocol.slice(0, -1))` works.

[2017-12-26 02:22] miketaylr commented on #61
(uh, or just include `https:` and skip `slice`ing anything)

[2017-12-26 02:26] miketaylr commented on #72
So yeah, the current in-tree mobile add-on is an old bootstrap.js addon. In theory the WebExtension version should just work? Only one way to find out...

[2017-12-26 02:55] miketaylr opened #74 "Build web extension compatible addons from single file"
And use the build system to stick 'em in their directory at build-time.

[2017-12-26 02:56] miketaylr opened #75 "Write useful npm commands for building addons"
Right now I have to do `./node_modules/web-ext/bin/web-ext build`, and that tosses stuff in `./web-ext-artifacts`, but it should go in bin. Something like `npm run build` should do something smarter.

[2017-12-26 03:10] miketaylr commented on #72
So just building the current Firefox web extension version and loading it locally does... something. I get a menu item as expected, but clicking on it doesn't do anything. Will learn how to debug web extensions on mobile and see what's up.

[2017-12-26 12:48] zoepage commented on #75
To clarify, you refer to https://docs.npmjs.com/cli/build? Happy to send a PR.

[2018-01-05 18:33] miketaylr commented on #75
Maybe...? I've never used that before. Basically I want to have the output of the following command:

`./node_modules/web-ext/bin/web-ext build`

put things here:

https://github.com/webcompat/webcompat-reporter-extensions/tree/master/bin

But this probably isn't worth sending in a PR just yet, there's a few things that need to be cleaned up (mostly getting rid of the redundancies).

[2018-01-31 21:35] miketaylr commented on #71
I think so too -- let me file a bug for webcompat.com.

[2018-01-31 21:55] miketaylr commented on #71
Let's close this in favor of https://github.com/webcompat/webcompat.com/issues/2047.

[2018-01-31 21:55] #71 closed

[2018-02-01 20:45] #61 closed

[2018-02-02 23:40] miketaylr commented on #75
I'm fixing this in the PR for #74. Let's close here.

[2018-02-02 23:40] #75 closed

[2018-02-06 01:59] miketaylr opened #78 "Derive addons version in manifest.json from package.json"
During the webpack build, we can set the version number of the manifest.json file from the project package.json -- that way we don't have to modify it in 3 places.

So let's do it.

[2018-02-06 02:03] miketaylr opened #79 "Convert Fennec addon to Web Extension"
And build it from webpack shared sources, where possible.

[2018-02-07 18:24] #74 closed

[2018-02-08 20:14] miketaylr commented on #67
We just had some conversations this week around creating a Pulse 2.0 (or whatever) for sentiment reports for webcompat. We at least want to run an experiment to see if it's useful -- I'll keep you in the loop @cvan once we have something a bit more concrete.

[2018-02-08 21:50] miketaylr commented on #72
I'm going to fix this in #79.

[2018-02-08 21:50] #72 closed

[2018-02-08 22:00] miketaylr opened #80 "Add new icons"
From redesign.

[2018-02-09 01:01] cvan commented on #67
awesome, thanks - excited to see what y'all discover

[2018-02-09 20:40] #11 closed

[2018-02-09 20:40] #79 closed

[2018-02-09 20:46] miketaylr commented on #80
But let's wait for the redesign to land, so we're not confusing branding or whatever.

I suppose https://github.com/webcompat/webcompat.com/issues/2017 is as good as any issue to track for that!

[2018-02-09 20:50] miketaylr commented on #45
I moved to a global eslint command, so this isn't needed anymore.

[2018-02-09 20:50] #45 closed

[2018-02-09 20:51] miketaylr commented on #16
This is fixed by #79.

[2018-02-09 20:51] #16 closed

[2018-02-09 22:09] miketaylr opened #83 "Add unit tests"
At the very least, we should add tests around manifest.json creation.

[2018-02-09 22:32] miketaylr commented on #83
It should also be possible to do functional tests via selenium:

https://sites.google.com/a/chromium.org/chromedriver/extensions
https://github.com/mozilla/geckodriver/pull/711/files

But that seems like way more work... probably a follow up bug. 😴

[2018-02-12 04:07] #83 closed

[2018-02-12 15:48] #78 closed

[2018-02-12 15:54] miketaylr commented on #65
I just added tests in https://github.com/webcompat/webcompat-reporter-extensions/commit/745725c6d80812df17a2cdd2c0bebf8bc5775861, and travis runs eslint before running tests now:

https://github.com/webcompat/webcompat-reporter-extensions/commit/745725c6d80812df17a2cdd2c0bebf8bc5775861#diff-354f30a63fb0907d4ad57269548329e3R23

[2018-02-12 15:54] #65 closed

[2018-02-13 03:00] miketaylr opened #85 "Pass tab.id when possible"

[2018-02-22 23:50] akhilpandey95 commented on #17
yep @miketaylr

[2018-02-26 18:53] miketaylr commented on #80
Actually, someone should be able to work on this now, and we'll just merge when ready!

[2018-02-26 18:55] miketaylr commented on #58
We removed this link a while ago: https://github.com/webcompat/webcompat.com/issues/1140

[2018-02-26 18:55] #58 closed

[2018-02-26 18:56] miketaylr opened #86 "Delete Safari add-on"
It's not maintained.

[2018-02-26 18:57] miketaylr opened #87 "Update screenshots in README.md"
They're out of date, and we don't support the Safari add-on anymore.

[2018-02-26 19:01] miketaylr opened #88 "Create npm script to package crx addons"
Looks like https://github.com/oncletom/crx might be a good way to do it.

It should be possible to do something like `npm run package:chrome` and have that generate a new `webcompat-reporter-chrome.crx` in the bin folder!

[2018-02-26 19:02] miketaylr commented on #88
(there might be better ways to do this, so some research before submitting a PR is probably a good idea)

[2018-02-26 19:03] miketaylr opened #89 ".gitignore the bin directory contents"
The build scripts should put the output there, but we don't want version control to care about it.

[2018-02-26 19:05] miketaylr opened #90 "Add Intern unit tests for isReportableUrl"
https://github.com/webcompat/webcompat-reporter-extensions/blob/master/shared/base.js#L16

This will involve a little refactoring:

1. Pull out the isReportableURL into either its own module, or at least in the outer scope
2. Write a unit test that imports it
3. Make sure it gets run from the intern command (and passes!)

[2018-02-26 21:09] miketaylr opened #91 "Add support for i18n"
Let's start with getting the plumbing to work with just English for right now.

See https://developer.mozilla.org/en-US/Add-ons/WebExtensions/API/i18n
Example addon: https://github.com/mdn/webextensions-examples/tree/master/notify-link-clicks-i18n

[2018-02-26 21:10] miketaylr commented on #91
https://github.com/webcompat/webcompat-reporter-extensions/blob/master/shared/base.js#L10 is a good string to start with (maybe the only one?)

[2018-02-27 15:10] miketaylr opened #92 "Add a CONTRIBUTING.md with instructions on how to send a PR"

[2018-02-27 16:34] Edely commented on #91
Hi. I would like to work on this.

[2018-02-27 16:36] miketaylr commented on #91
Excellent! Please let me know if you have any questions or get stuck in this issue @Edely!

[2018-02-27 17:21] miketaylr opened #93 "Create a `package:fennec` npm script command"
It should be possible to package the firefox for android addon by running the following command:

`npm run package:fennec`

(For a hint, take a look at the `package:firefox` script in package.json.)

[2018-02-27 19:37] miketaylr commented on #91
(oops... I used the wrong issue number, please disregard closing this issue!)

[2018-02-27 19:38] #92 closed

[2018-02-28 23:08] miketaylr opened #95 "Update npm dependencies"
You can install the following to see what's out of date and go from there!

https://www.npmjs.com/package/npm-check-updates

[2018-02-28 23:09] miketaylr commented on #91
@Edely don't hesitate to reach out if you have any questions or get stuck, thanks!

[2018-03-01 01:37] Edely commented on #91
Hi, @miketaylr. I've been reading about i18n and tried understand how to integrate itwith this project.

[2018-03-01 13:25] ncarbon opened #96 "Create a run chrome npm script command"
There needs to be an npm script that runs the addon on Chrome on a command:

`npm run chrome`

[2018-03-01 15:42] ncarbon commented on #88
I would like to work on this

[2018-03-01 16:58] miketaylr commented on #91
Cool! I'm happy to let you figure that out on your own, but if you need some specific pointers on how to get started, just let me know.

[2018-03-01 16:59] miketaylr commented on #96
This would be cool to have, though I have no idea if it's possible. Worth investigating.

[2018-03-01 17:19] laghee commented on #95
I'd like to work on this. The initial `ncu` report is:

 eslint                   4.16.0  →  4.18.1
 eslint-config-prettier   ^1.7.0  →  ^2.9.0
 prettier                 1.10.2  →  1.11.1
 webpack                 ^3.10.0  →  ^4.0.1

Should I go ahead and upgrade across the board, or are there issues with updating any of these?

Also, I noticed that when I `npm install`, I get several deprecated pa

[2018-03-01 18:47] miketaylr commented on #95
Thanks for working on this @laghee!

I'd say if tests still pass after you update everything, we're good to go. The webpack major version bump is the only potentially tricky thing, but the tests explicitly cover webpack.

[2018-03-01 18:52] miketaylr commented on #95
Typically if the deprecated packages are dependencies of our top-level deps, it's OK to ignore this. We can't really control this, beyond filing bugs on those packages.

[2018-03-01 19:13] laghee commented on #95
Thanks, @miketaylr. Tests still passed, so I've sent the PR.

[2018-03-01 20:17] ncarbon commented on #88
Hi Mike, I'd like to know if I am heading the right direction and am understanding the issue.

Using crx package, I tried creating a script using the crx [documentation in their github repo](https://github.com/oncletom/crx ). In the script, first I have it load the chrome extension files in `'dist/chrome`' directory, then pack  it using the `crx.pack()`, then write the crx file in the bin folder.

[2018-03-01 20:30] miketaylr commented on #88
Heya @ncarbon, yep, this sounds like the right approach generally.

I see there's a commandline API/tool, so you might see if you can get the crx built just from using that tool manually. Any errors there might help you along with the module API approach: https://github.com/oncletom/crx#cli-api

(and if it works via the commandline, maybe the simplest way forward is to just `"package:chrome": "crx

[2018-03-01 20:31] miketaylr commented on #88
(also, I know there's the whole signing/PEM bit that complicates things, so go ahead and make a new cert and use that for packaging if you need to, we'll figure out the best way to integrate the project one once we have some working code, perhaps in a follow up bug)

[2018-03-01 21:11] ncarbon commented on #88
Ahh I'm new to npm scripts, didn't really know you could just use the commands you'd normally use in terminal in package.json.
I did just that and it seems to be working. 🙌

[2018-03-01 21:13] ncarbon commented on #88
Also, is the crx cli api something you'd only use in the package json? I tried using it on terminal but it tells me crx is not a command. It works perfectly fine in the package json though. Do I need to install something before it can be used on terminal?

[2018-03-01 21:25] miketaylr commented on #88
Nope! By default if a package has a binary it will be in `node_modules/bin/` (I think?). Newer versions of npm ship with a tool called `npx` (see https://medium.com/@maybekatz/introducing-npx-an-npm-package-runner-55f7d4bd282b).

So you can just do `npx crx`, and that's functionally equivalent to `./node_modules/bin/crx`.

[2018-03-02 00:44] miketaylr commented on #89
Oh wait lol, this is already true.

[2018-03-02 00:44] #89 closed

[2018-03-02 00:44] miketaylr commented on #89
🙈

[2018-03-02 15:37] ArushiSinghal commented on #90
Hi @miketaylr
I want to work on this issue.

[2018-03-02 15:45] miketaylr commented on #90
Great! Be sure to read https://github.com/webcompat/webcompat-reporter-extensions/blob/master/.github/CONTRIBUTING.md and post any questions you have here.

[2018-03-02 17:16] architajain12 commented on #87
![screenshots](https://user-images.githubusercontent.com/33132715/36910871-e75c259a-1e67-11e8-8487-848c78e2a85c.jpg)

I've edited the screenshots.
It doesn't show the added extensions on the same screen on Firefox  (Android) in the latest version, so I had to add two separate screenshots for the mobile version.
Kindly let me know the next steps regarding this contribution.

[2018-03-02 19:22] #95 closed

[2018-03-02 19:29] #88 closed

[2018-03-02 19:32] laghee opened #99 "Update webpack dependency to v4"
I'll work on fixing this last dependency (partitioned from original [Issue 95](https://github.com/webcompat/webcompat-reporter-extensions/issues/95)).

[2018-03-02 19:33] miketaylr commented on #99
Thank you!

[2018-03-02 19:34] miketaylr commented on #99
(setting the outreachy: contribution wanted label just so we can track that work in a single search, but @laghee is working on this)

[2018-03-02 19:35] miketaylr opened #100 "Remove empty dependencies key from package.json"
https://github.com/webcompat/webcompat-reporter-extensions/blob/master/package.json#L43

[2018-03-02 19:37] miketaylr commented on #87
Hi @architajain12! Are you applying for Outreachy? If so, there's a step before applicants jump into the contribution (where you run tests and send me an email) -- double check the instructions and we'll go from there!

[2018-03-02 21:37] OrionStar25 opened #101 "npm run firefox not working as expected"
![screenshot from 2018-03-03 03-07-48](https://user-images.githubusercontent.com/28835849/36923017-e9f541ec-1e8f-11e8-8b5f-1f6c6569169d.png)

Tests are working all fine, and the build for each browser works too.

[2018-03-02 21:43] miketaylr commented on #101
Interesting, thanks @OrionStar25!

It seems like it's not able to find the Firefox binary (guessing from that error coming form which.js. Do you have Firefox installed on your machine?

[2018-03-02 21:45] miketaylr commented on #101
@OrionStar25 ah, OK. :)

(I just assumed, b/c I couldn't see it in the sidebar from the screenshot).

[2018-03-02 21:46] OrionStar25 commented on #101
That would be the question mark xD, for some reason, the logo fails to stay after the initial milisecond. :/

[2018-03-02 21:48] miketaylr commented on #101
For future investigation, it seems like the `fx-runner` module is failing to find the binary: https://github.com/mozilla-jetpack/node-fx-runner/pull/7 seems related.

[2018-03-02 21:57] OrionStar25 commented on #100
I don't see any empty dependency keys in that file :O

[2018-03-02 22:23] miketaylr commented on #100
See line 43? `"dependencies": {}`

We can delete that, since it's not doing anything.

[2018-03-02 22:52] OrionStar25 commented on #100
Oh! I thought you meant develop dependencies. Shall do so ASAP.

[2018-03-02 22:57] #100 closed

[2018-03-02 23:04] OrionStar25 commented on #85
Hey, I'd like to work on this one!

[2018-03-02 23:20] miketaylr commented on #85
Sounds good, thanks!

[2018-03-02 23:41] OrionStar25 commented on #85
I understand the issue, but it would be great if you could please tell me where I could start from. :sweat_smile:

[2018-03-03 05:42] Kagamihime commented on #86
I would like to take this issue, please

[2018-03-03 11:29] architajain12 commented on #87
Hello, @miketaylr ! Yes, I am applying for Outreachy. I have sent you an email regarding the tests I ran. Kindly guide me further.
Thank you!

[2018-03-03 16:59] deeptibaghel commented on #101
<img width="859" alt="npm run firefox error" src="https://user-images.githubusercontent.com/448609/36936953-0ae21748-1f32-11e8-8ee1-500991135287.png">
I am facing similar issue on Mac, Firefox Quantum is installed.

[2018-03-03 18:12] deeptibaghel commented on #93
@miketaylr I would like to take up this issue.

[2018-03-04 13:16] deeptibaghel commented on #101
Looks like it is a bug reported at web-ext also: https://github.com/mozilla/web-ext/issues/1083

[2018-03-05 07:41] Edely commented on #91
@miketaylr I believe I need more specific pointers. After some reading I understand how to use i18n in webpages, but I not sure how to integrate in the project structure.

[2018-03-05 16:11] miketaylr commented on #86
Oops, I haven't had enough caffeine yet. :)

@Kagamihime can you also delete the top-level `safari` directory, which contains the source files? You can send in a new PR for that, thanks!

[2018-03-05 16:19] miketaylr commented on #91
Hi @Edely.

Did you look at the sample web extension repo here: https://github.com/mdn/webextensions-examples/tree/master/notify-link-clicks-i18n? That should give you some pretty good hints at how to proceed with `i18n.getMessage`.

[2018-03-05 16:20] Kagamihime commented on #86
Of course, I will do that ;)
I was wondering about it

[2018-03-05 16:36] miketaylr commented on #101
@deeptibaghel looking at the stack trace/error -- I think that's a different bug. Would you mind filing a separate issue for it please?

[2018-03-05 16:38] miketaylr opened #104 "Add a `package:opera` npm script to package.json"
Just like https://github.com/webcompat/webcompat-reporter-extensions/issues/88 did for Chrome.

[2018-03-05 16:42] deeptibaghel opened #105 "npm run firefox throwing error"
deeptibaghel@MacBook-Pro:~/webcompat-reporter-extensions$ npm run firefox

Running web extension from /Users/deeptibaghel/webcompat-reporter-extensions/dist/firefox

Error: getaddrinfo ENOTFOUND localhost localhost:6005
    at errnoException (dns.js:28:10)
    at GetAddrInfoReqWrap.onlookup [as oncomplete] (dns.js:76:26)

Error code: ENOTFOUND

npm ERR! Darwin 17.4.0
npm ERR! argv "/usr/local/Cell

[2018-03-05 16:44] deeptibaghel commented on #101
Sure, filed #105

[2018-03-05 16:44] miketaylr opened #106 "Investigate if building addons is compatible with Windows"
I don't actually know if it is!

To tackle this bug, you'll need a Windows development environment and try to follow the instructions for building and running tests @ https://github.com/webcompat/webcompat-reporter-extensions/blob/master/README.md#building

You'll want to make note of any errors, and ideally send a pull request fixing the issues, ensuring it's still possible to build on macOS and

[2018-03-05 16:44] miketaylr commented on #106
(tagging as unknown *and* medium... in the off chance it just works, we can just close this. but if it doesn't, it won't be an easy bug)

[2018-03-05 17:28] miketaylr commented on #101
Thanks! (I'm going to delete your previous commments just so we keep this issue less cluttered.)

[2018-03-05 17:29] miketaylr commented on #105
See also https://github.com/mozilla/web-ext/issues/1083

[2018-03-05 17:32] miketaylr commented on #93
Great! Let me know if you have any questions.

[2018-03-05 17:46] miketaylr commented on #87
@architajain12 can you explain what you mean here? If you install https://addons.mozilla.org/en-US/firefox/addon/webcompatcom-reporter/ in the latest version of Firefox for Android, you should be able to see a "Report Site Issue" menu item when you click on the 3 dot menu in the top-right. It would be cool if we could include that in the screenshot.

[2018-03-05 17:46] miketaylr commented on #86
Great, thanks!

[2018-03-05 17:55] miketaylr commented on #85
Check out the following, @OrionStar25:

https://developer.chrome.com/extensions/tabs#method-executeScript
https://developer.mozilla.org/en-US/Add-ons/WebExtensions/API/tabs/executeScript

We need to pass `tabId` into `executeScript`.

[2018-03-05 18:01] miketaylr commented on #85
Note that in the latest code, we don't pass in the tab id to `reportIssue`:

https://github.com/webcompat/webcompat-reporter-extensions/blob/master/shared/base.js#L32

So we need to make sure it ends up there, so it will be in scope for the `executeScript` call (and that it's the *new* tab, not the existing tab.

[2018-03-06 05:08] deeptibaghel commented on #106
npm install had few warnings - at bottom of this post. Otherwise it worked well on windows.
Below is the output :

E:\webcompat-reporter-extensions-master>**npm run firefox** --verbose
npm info it worked if it ends with ok
npm verb cli [ 'C:\\Program Files\\nodejs\\node.exe',
npm verb cli   'C:\\Program Files\\nodejs\\node_modules\\npm\\bin\\npm-cli.js',
npm verb cli   'run',
npm verb cli   'firef

[2018-03-06 08:36] MynahMarie commented on #104
@miketaylr I’d like to work on this for my outreachy contribution! Just to get me started :)

[2018-03-06 15:40] architajain12 commented on #96
@miketaylr I'd like to work on this for my Outreachy contribution!

[2018-03-06 16:48] miketaylr commented on #96
OK!

[2018-03-06 17:39] miketaylr commented on #106
OK, cool! Thank you @deeptibaghel, it seems like there isn't anything else to do here.

[2018-03-06 17:39] #106 closed

[2018-03-06 18:33] #93 closed

[2018-03-06 18:33] miketaylr commented on #93
Thanks @deeptibaghel!

[2018-03-07 22:53] #85 closed

[2018-03-08 03:07] miketaylr commented on #80
I don't think that's the one, we want to use the favicon-ish ones, like https://github.com/webcompat/webcompat.com/blob/refactor/webcompat/static/favicon/apple-touch-icon-180x180.png. But possibly there's a source file that @zoepage can point us at.

[2018-03-08 07:47] zoepage commented on #80
Is this what you are looking for?
 https://github.com/webcompat/design/tree/master/archive/logos

[2018-03-08 17:03] OrionStar25 commented on #90
If its still available for grabs I'd like to work on this please!

[2018-03-08 17:43] miketaylr commented on #90
@ArushiSinghal are you still interested in working on this issue?

[2018-03-09 01:18] laghee commented on #99
@miketaylr So I think I've figured out what the issue is, but I'm not sure the best way to resolve it. For some reason, after I update webpack to v4, the intern tests create **two** nested dist folders instead of one. This doesn't seem to affect the dist-output test, but it causes the manifest tests to fail because (presumably) it can't find the file.

If I monkey with the path in the `test-manife

[2018-03-11 01:45] ncarbon commented on #80
@miketaylr @zoepage Sorry if this sounds like an obvious question but, how do I know their sizes? (default sizes: 32, 64, 128, etc) 😅

[2018-03-11 07:08] reinhart1010 commented on #70
@cvan Apparently, there's a bookmarklet to report bugs, which should work in most browsers (including the BlackBerry web browser) who do not support extensions.

[code]

Adding the link above to the Bookmarks Bar could simply report the web issue. Case closed.

[2018-03-12 13:37] zoepage commented on #80
@ncarbon that is actually a very good question! 😅
Guess we need to wait until @miketaylr comes back from vacation. :)

[2018-03-12 18:23] adamopenweb commented on #99
@miketaylr is on PTO but will take a look later tonight.

[2018-03-13 03:43] #104 closed

[2018-03-13 03:47] miketaylr commented on #80
@ncarbon yep! @zoepage is correct, we want to have a 32x32px (and... 48px, 64px, 128px) icon to replace the existing ones in https://github.com/webcompat/webcompat-reporter-extensions/tree/master/shared.

I would recommend downloading sketch: https://www.sketchapp.com/ (there's a 30 day trial) and opening the sketch file in that directory, and learn how to export them at the desired sizes. Let me

[2018-03-13 03:50] miketaylr commented on #99
Huh... interesting! Let me take a look.

[2018-03-13 04:10] miketaylr commented on #99
[code]
ok, got that installed.

[code]

The following line surprises me a bit:

`Entrypoint main = ./dist/firefox/background.js`.

And yep, I see you're right, there's a nested `dist` directory:

[code]

Looking at webpack.firefox.js:

[code]

So yeah, something is goofy with the filepaths it would seem!

I just changed the `to` for the `CopyWebpackPlugin` section files to `../dist` instead of `./

[2018-03-13 23:06] laghee commented on #99
Got everything writing to the correct place now! I've tried poking around online to figure out *why* this was happening (particularly since it was only happening to me :stuck_out_tongue_winking_eye:, and you had updated copy-webpack-plugin from 4.3.1 to 4.5 as well), but haven't found anything so far.

[2018-03-14 07:42] MynahMarie commented on #91
@miketaylr If no one is working on this, can I challenge myself with this issue as part of my Outreachy contribution?

[2018-03-14 08:23] Edely commented on #91
I have not been able to work on this issue last days so that's fine by me.

2018-03-14 4:42 GMT-03:00 Mynah Marie <notifications@github.com>:

--
Edely Gomes
*"Um passo à frente e você não está mais no mesmo lugar", Chico Science.*

[2018-03-14 08:24] Edely commented on #91
I have not been able to work on this issue last days so that's fine by me.

[2018-03-14 10:29] MynahMarie commented on #91
@Edely thanks for clarification!

[2018-03-15 12:09] OrionStar25 commented on #105
I suggest upgrade your npm and install `web-ext`.

[2018-03-16 18:40] miketaylr commented on #99
@laghee fixed this , thanks!

[2018-03-16 18:40] #99 closed

[2018-03-16 18:41] miketaylr commented on #86
Oops, forgot to close this!

[2018-03-16 18:41] #86 closed

[2018-03-16 22:04] ncarbon commented on #80
@miketaylr Is "Logo Black on Gold" the one we want for the browser extensions?

[2018-03-16 22:15] miketaylr commented on #80
@ncarbon yep!

[2018-05-18 16:11] #90 closed

[2018-05-21 15:55] laghee opened #117 "Add i18n for name and description in manifest.json"
Builds on [Issue 91](https://github.com/webcompat/webcompat-reporter-extensions/issues/91) support.

[2018-05-21 16:42] #91 closed

[2018-05-21 16:45] miketaylr opened #119 "Remove stray comments in helpers.js"
To fix this, just remove the following 2 lines!

https://github.com/webcompat/webcompat-reporter-extensions/blob/master/tests/lib/helpers.js#L5
https://github.com/webcompat/webcompat-reporter-extensions/blob/master/tests/lib/helpers.js#L11

[2018-05-21 16:46] miketaylr opened #120 "Investigate if firefox-mobile can be using the shared manifest.json"
I totally don't remember if it's using it's own manifest.json is on purpose, or just something I forgot to do.

If it's possible, we should use the shared one. If not, we should leave a comment somewhere (maybe in the webpack config file).

[2018-05-22 09:49] laghee opened #121 "Remove Italian locale lines from copy-webpack-plugin in webpack config files"
https://github.com/webcompat/webcompat-reporter-extensions/blob/ac567bd39a604e76ac24caae152f38f5a73b492a/chrome/webpack.config.js#L22

https://github.com/webcompat/webcompat-reporter-extensions/blob/ac567bd39a604e76ac24caae152f38f5a73b492a/firefox-mobile/webpack.config.js#L22

https://github.com/webcompat/webcompat-reporter-extensions/blob/ac567bd39a604e76ac24caae152f38f5a73b492a/firefox/webpack.c

[2018-05-22 12:53] laghee commented on #120
So... in the process of testing whether it would work to use the shared manifest basically as is, I've stumbled upon another potential problem. After encountering errors with the shared manifest version of the mobile extension, I find I can't even get the **original** extension to load on either Android 7.0 or 8.0 (at least not as an unsigned zip file, [as laid out here](https://developer.mozilla.

[2018-05-22 13:15] laghee opened #123 "Remove block comments in messages.json"
https://github.com/webcompat/webcompat-reporter-extensions/blob/ac567bd39a604e76ac24caae152f38f5a73b492a/shared/_locales/en/messages.json#L1

[2018-05-22 16:40] #123 closed

[2018-05-22 16:40] #121 closed

[2018-05-22 16:41] miketaylr commented on #120
Thanks for digging into this!

[2018-05-22 18:55] #120 closed

[2018-05-24 13:00] laghee opened #126 "Determine the feasibility of using a single webpack.config file to build all extensions"
Having four separate files means a lot of repeated code and four files to update going forward.

[2018-05-24 15:11] magsout commented on #126
my 2 cent, @laghee did you look webpack-merge?

[2018-05-24 16:11] laghee commented on #126
@magsout I did -- that was my original impulse. But then I messed around with it for a while, and it almost seemed like it would wind up being more complicated rather than less. Since the config files are so similar, with differences evenly distributed throughout, I was having trouble finding enough to even make a common base file.

I saw a few examples of one-file merge configs, but almost all of

[2018-05-31 08:00] laghee commented on #119
Forgot to reference this issue as well when I made PR #127 -- I zapped these lines at the same time without thinking.

[2018-07-05 22:11] miketaylr opened #128 "The “Report Site Issue” extension icon is smaller on Chrome than on Firefox"
Originally filed @ https://github.com/webcompat/webcompat.com/issues/2541 by @softvision-sergiulogigan.

@laghee, can you investigate?

[2018-07-06 20:41] laghee commented on #128
@miketaylr So it looks like we simply haven't uploaded (or whatever it is one does to release) the updated v0.5.1 to the Chrome web store. The icons were all updated in March, and the current version in the Chrome extension manifest is 0.5.1, but the actual extension available to download is ... 0.5.0 from early 2017:

<img width="918" alt="screenshot 2018-07-06 22 34 51" src="https://user-images.

[2018-07-06 20:46] miketaylr commented on #128
Whoops. Thanks for checking that out.

Do you think we should update the icons to match the current dark ones? Or just leave it as-is?

[2018-07-06 20:55] laghee commented on #128
Hmmm. Personally, I don't ❤️  the new ones at that size. The webcompat.com one is more visible but looks a little pixel-y
<img width="32" alt="screenshot 2018-07-06 22 49 24" src="https://user-images.githubusercontent.com/20972610/42399687-263b0a46-816f-11e8-9ddb-0b7e0665d105.png">
 and the super-high-def-vector one  @magsout gave me to render for metrics-client is really hard to see:
<img width="

[2018-07-06 20:57] miketaylr commented on #128
It's OK, no need to create extra work for something so low priority. Let me see if I can get that Chrome update published...

[2018-07-06 21:22] miketaylr opened #129 "Missing locales files in Chrome (maybe others) addon"
STR:

1. `npm run build:chrome`
2. try to load unpacked extension from chrome://extensions

Expected:
it works

Actual:
![screen shot 2018-07-06 at 4 21 45 pm](https://user-images.githubusercontent.com/67283/42400830-afd9ee84-8138-11e8-8d28-e7912f02d995.png)

I see that in fact the locales directory and files are missing from dist/chrome

[2018-07-06 21:24] miketaylr commented on #128
@laghee I ran into https://github.com/webcompat/webcompat-reporter-extensions/issues/129 trying to publish a new version. Any ideas?

[2018-07-09 20:13] #129 closed

[2018-07-09 20:29] miketaylr commented on #128
I've just published the latest version, this should be fixed now: https://chrome.google.com/webstore/detail/ffnnhckjcpbbjlmgfjigknkoffakclol/publish-accepted?authuser=0&hl=en-US

[2018-07-09 20:29] #128 closed

[2018-07-10 14:18] miketaylr opened #131 "typeerorr with chrome addon installed"
[code]

str:
1. install official webcompat reporter addon in chrome
2. visit webcompat.com and look in console

looks like maybe we need to update that selector (possibly for all addons?)

[2018-07-10 14:51] laghee commented on #131
Yeah, weird, I don't get the same error in nightly, beta, or release, but it's definitely not hiding the download link in firefox (or fennec).

DevEd console:
<img width="1167" alt="screenshot 2018-07-10 16 48 36" src="https://user-images.githubusercontent.com/20972610/42517926-30331ef4-8461-11e8-9af6-f5cd8bd46be4.png">

[2018-07-10 15:05] miketaylr commented on #131
We probably just changed the classname of the link and forgot to update the content script here in the addon.

[2018-07-10 15:12] laghee commented on #131
Yep, looks like it needs to be replaced with `body-webcompat`.

[2018-07-10 16:20] laghee commented on #131
😂 oops. Yeah, I guess that makes more sense. I must have found `is-hidden` in there and gotten confused.

Is it better practice to drill down to the smallest possible element (e.g., not using the outer `js-addon` block)?

[2018-07-10 16:33] miketaylr commented on #131
As long as we hide the link that we need to, it probably doesn't matter that much.

[2018-07-14 20:15] laghee commented on #101
Extra logging with `verbose` flag on `web-ext` (installed as dev dependency):

[code]
Looks like it's throwing an error because it doesn't find config info in `package.json`, which maybe means they made it required rather than optional [in one of these merges](https://github.com/mozilla/web-ext/issues/176)? But that doesn't explain why it works (or seems to) with a global or source-linked install

[2018-09-26 14:37] miketaylr commented on #131
![screen shot 2018-09-26 at 9 36 59 am](https://user-images.githubusercontent.com/67283/46087348-bd85e700-c16f-11e8-840c-9abf2cb12fb4.png)

[2018-09-26 15:12] mbuotidem commented on #119
@miketaylr is this still open? looks like @laghee handled it.

[2018-09-26 15:31] miketaylr commented on #131
Cool!

I believe the fix will be to update the selector in content.js, to match the the updated class name on webcompat.com:

[code]

To verify it's working locally, with Chrome, install your local addon, go to webcompat.com, and make sure there's no console errors, and also that the "Download Chrome Add-on" link is hidden.

[2018-09-26 15:32] miketaylr commented on #131
We really need to get better at closing out fixed issues. 😓

[2018-09-26 15:32] miketaylr commented on #131
(and publish an update to the chrome store)

[2018-09-26 15:34] #96 closed

[2018-09-26 15:34] miketaylr commented on #117
@mbuotidem maybe something you might be interested in?

[2018-09-26 15:37] miketaylr commented on #131
Arf, not fixed yet. There's a PR.

[2018-09-26 15:38] mbuotidem commented on #117
@miketaylr cool, I'm going to investigate issue 91 to get myself up to speed.

[2018-09-26 15:43] miketaylr commented on #117
@laghee or I can help with any questions here -- there's not a lot of context in this issue. :)

[2018-09-26 17:00] #131 closed

[2018-09-27 01:02] mbuotidem commented on #117
@laghee Looks like you've already set everything up nicely. To be sure I'm on the right track, I just need to add two entries to messages.json for name and description, right?

[2018-09-28 03:57] mbuotidem commented on #117
@laghee will do. ran into issues getting setup on windows :( so I'll use a linux box at at school tomorrow.

[2018-09-28 04:06] laghee commented on #117
@mbuotidem If you can file a bug with whatever errors or obstacles you were encountering with Windows, that would be great. :)

[2018-09-29 16:00] mbuotidem opened #133 "npm run opera throwing error on windows"
C:\Users\Michael\webcompat-reporter-extensions>npm run opera
npm ERR! missing script: opera

npm ERR! A complete log of this run can be found in:
npm ERR!     C:\Users\Michael\AppData\Roaming\npm-cache\_logs\2018-09-29T15_55_40_962Z-debug.log

[2018-09-29T15_55_40_962Z-debug.log](https://github.com/webcompat/webcompat-reporter-extensions/files/2430831/2018-09-29T15_55_40_962Z-debug.log)

[2018-09-29 16:19] mbuotidem opened #134 "npm run chrome does not work on windows"
Trying to run the extension on chrome on windows almost works but then spouts the error :

Failed to load extension from: C:\Program Files(x86)\Google\Chrome\Application\69.0.3497.100\dist\chrome. Manifest file is missing or unreadable.

Clicking ok opens the chrome browser to the webcompat website.

(As screenshot shows, firefox works but opera does not)

![operanorchrome](https://user-images.git

[2018-09-29 16:30] mbuotidem opened #135 "npm run build for windows on firefox, chrome and opera fails initially : TypeError: Cannot read property 'properties' of undefined"
npm run build for firefox, chrome and opera fail with error :

TypeError: Cannot read property 'properties' of undefined
    at module.exports (C:\Users\Michael\webcompat-reporter-extensions\node_modules\webpack-cli\bin\config-yargs.js:89:48)
    at C:\Users\Michael\webcompat-reporter-extensions\node_modules\webpack-cli\bin\webpack.js:60:27
    at Object.<anonymous> (C:\Users\Michael\webcompat-rep

[2018-09-29 17:09] laghee commented on #133
@mbuotidem Yay! Thanks for the reports. This particular one I can explain -- while we have `run` scripts for Firefox and Chrome, we don't currently have one for Opera (which is why node can't find it).

Maybe writing one is something we might add as a `good next bug`... @miketaylr?

[2018-09-29 17:09] #133 closed

[2018-09-29 21:27] laghee commented on #134
Ah, interesting. Looks to me like the way we're fetching the path to the extension in `chrome/run.js` doesn't work on Windows. There's probably a system-agnostic way to set that up.

[2018-09-29 21:32] laghee commented on #135
[Webpack claims the problem is in the CLI](https://github.com/webpack/webpack/releases/tag/v4.20.0), so an alternate fix (which worked for me locally) seems to be upgrading `webpack-cli` to ^3.

[2018-10-01 13:49] mbuotidem commented on #135
Yes, your fix works for me as well.

[2018-10-01 14:09] mbuotidem commented on #134
Thanks that fixed it.

[2018-10-08 16:13] #134 closed

[2018-10-16 15:47] #135 closed

[2018-10-16 15:49] miketaylr opened #138 "Update addon to send data via postMessage rather than rely on GET params"
This might not even be possible with existing web extension APIs... but Tom has some advice here:

https://github.com/mozilla/webcompat-team-okrs/issues/34#issuecomment-429558122

[2018-10-16 15:57] miketaylr commented on #138
Here's a variation of what Tom is describing: https://stackoverflow.com/a/23687543/66348

[2018-10-17 05:55] reinhart1010 opened #139 "[Regression] Reported sites on webcompat.com shows raw JSON data"
After pull #137 has been applied, the output of "Browser Configuration" shows raw JSON data instead of regular unordered list.

This one is from webcompat/web-bugs#19894.

[2018-12-18 21:37] miketaylr commented on #139
I wonder if we fixed this...

[2018-12-18 21:38] miketaylr opened #140 "Add GA params"
See https://bugzilla.mozilla.org/show_bug.cgi?id=1514861

[2018-12-18 21:53] miketaylr opened #142 "Current master addons appear disabled (when running locally)"
STR:

At least for Chrome and Firefox:

1. build the addon (`npm run build:firefox`), then run it (`npm run firefox`)

Expected: I can click on the icon
Actual: the icon is disabled for regular http and https pages.

not sure why!

[2018-12-20 19:36] #140 closed

[2018-12-20 20:02] #142 closed

[2019-02-04 18:46] laghee commented on #139
Maybe this was related to https://github.com/webcompat/webcompat.com/issues/2653? At any rate, I don't see it happening with recent bot-reported issues (console log data, when included, still comes out as a unicode string -- https://github.com/webcompat/webcompat.com/issues/2659).

Closing as fixed for now.

[2019-02-04 18:46] #139 closed

[2019-03-30 18:06] Mozilla-GitHub-Standards opened #144 "CODE_OF_CONDUCT.md file missing"
As of January 1 2019, Mozilla requires that all GitHub projects include this [CODE_OF_CONDUCT.md](https://github.com/mozilla/repo-templates/blob/master/templates/CODE_OF_CONDUCT.md) file in the project root. The file has two parts:

1. Required Text - All text under the headings *Community Participation Guidelines and How to Report*, are required, and should not be altered.
2. Optional Text - The

[2019-10-25 17:34] #144 closed

[2019-10-25 18:13] ksy36 commented on #138
As we're adding postMessage data support on the webcompat.com side not only for screenshots, but for there rest of the metadata in https://github.com/webcompat/webcompat.com/issues/2985 , lets send all data via postMessage to unify things.

So here https://github.com/webcompat/webcompat-reporter-extensions/blob/master/shared/base.js#L34 we'd need to send a postMessage with the following structure

[2019-11-18 23:22] #138 closed

[2020-02-11 23:20] miketaylr commented on #105
This is working for me now.

[2020-02-11 23:20] #105 closed

[2020-02-12 00:08] miketaylr opened #148 "current master browser action always seems disabled"
Logging out the error from our try/catch handler inside isReportableUrl:

[code]

[2020-02-12 00:40] miketaylr commented on #148
OK, however we got ahold of a DOM window before does not seem to be working. But we don't really need it.

[2020-02-13 21:15] #148 closed

[2020-06-24 01:21] karlcow commented on #70
So there is change here and an opportunity
https://developer.apple.com/videos/play/wwdc2020/10665/

[2020-06-24 01:22] karlcow commented on #70
I will open a separate issue.

[2020-06-24 01:23] karlcow opened #150 "Port webcompat reporter extensions to Safari"
Safari now supports web extensions.
https://developer.apple.com/videos/play/wwdc2020/10665/

It would be good to port the webcompat reporter extensions to safari

[2020-06-24 01:23] karlcow commented on #70
see  Port webcompat reporter extensions to Safari #150

[2021-03-21 21:38] ekr opened #152 "Webcompat Reporter extension for Firefox is not Recommended on Mozilla addon store"
The extension is not part of Mozilla's Recommended Extensions program even though it was written by us and is used to report issues to us.

[2021-03-21 22:01] karlcow commented on #152
@ekr thanks for the report.
(To clarify for the drive-by readers, "us" above here is @Mozilla)

## Some context:
@miketaylr wrote the initial extension. @laghee and @ksy36 participated to it too.

It's supposed to be multi-browser, but I'm not sure anyone has maintained the chrome and safari versions.
As for webcompat.com, while the majority of reported issues are for Firefox (Mozilla), there are

[2021-03-22 02:07] karlcow commented on #152
Email sent.

[code]

[2021-03-22 22:00] miketaylr commented on #152
The Chrome and Opera ports share a common core with the Firefox stuff, and then Webpack spits out different versions )(so in theory it should work the same). We removed support for Safari when they required a paid developer account ($99 USD annually).

We might need to transfer ownership of the addon from me to someone else, I guess we forgot to take care of this when I left:

![Screen Shot 2021-0

[2021-03-23 02:04] karlcow commented on #152
@wisniewskit will take over @miketaylr for the extension.

[2021-03-23 13:10] karlcow opened #153 "webcompat reporter extension for Firefox (mobile/desktop)"
The two Firefox extensions (mobile and desktop) should be probably one.
This came up during the review started with #152

[2021-03-23 17:33] wagnerand commented on #153
This could be as easy as disabling https://addons.mozilla.org/en-US/firefox/addon/webcompatcom-mobile-reporter/ . The code is almost identical to the desktop one, and it has no users, so disabling it wouldn't have any notable impact.

[2021-04-19 22:12] wisniewskit commented on #152
I've taken over ownership of the addon now with my mozilla.com email address.

[2021-04-19 23:20] wisniewskit opened #154 "Change the Firefox version of the addon to simply enable the built-in addon."
Desktop and Android Firefox ship with a more feature-rich copy of the webcompat reporter, though it is disabled by default on release builds. As such we could simply have this add-on flip the pref to enable that version (`extensions.webcompat-reporter.enabled`).

It's unclear whether it will be considered kosher by the addons team to whitelist that specific pref for this specific addon, but I thin

[2021-04-19 23:21] wisniewskit commented on #152
After having a discussion with @wagnerand and checking with the rest of our team, it seems that our best bang-for-the-buck here will be to add a first-run/splash page to the addon, shown when the user first installs it using the [usual mechanism for doing so](https://developer.mozilla.org/en-US/docs/Mozilla/Add-ons/WebExtensions/API/runtime/onInstalled). That page will summarize the risks of PII b

[2021-04-19 23:28] miketaylr commented on #152
(and have removed me, thanks tom!)

[2021-11-15 02:14] gamer191 commented on #154
Just wondering, how can one use ``extensions.webcompat-reporter.enabled``? I tried enabling it and it did nothing. Does it require an extension to act as a GUI for it?

[2021-11-15 03:33] wisniewskit commented on #154
@gamer191, yes, to make it easier to ship updated versions out-of-sync with the main Firefox update process, and to access more helpful capabilities than normal web extensions can access, we ship a version of the webcompat reporter and webcompat interventions features as bundled ("system") addons on desktop and Android Firefox versions. That's why the prefs are named that way.

That said, that ver

[2021-11-15 03:53] gamer191 commented on #154
Thanks, I do see that. Apologies, I missed it